<%- include('./partials/header.ejs') %>
    <div class="show-flexbox">
    <div class="show-name-actions-container">
    <h1> <%= item.name %> </h1>
    &nbsp;
    <form action="/items/<%=item.id%>?_method=DELETE" method="POST">
        <input type="submit" value="✔️" />  
    </form>
    &nbsp;
    <a href="/items/<%=item.id%>/edit">
        <button>✏️</button>
    </a>
    </div>
    <img class="item-image" src="/images/bag.png">
    <p> <%= item.notes %> </p>
    </div>
</body>
</html>